/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
*/
@import '~bootstrap/dist/css/bootstrap.min.css';
 

:root {
  --text-main: #ffffff;
  --text-secondary: #626262;
  --background:  #131417;
  --button-primary: #47cf73;
  --button-secondary: #444857;
  --accent: #ffdd40;
  --bs-card-bg: var(--button-secondary)
}

body {
  color: white;
  background: #131417;
  font-family: sans-serif;
}

.title-text {
  background: linear-gradient(90deg, rgba(254,220,42,1) 30%, rgba(71,207,115,1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  font-weight: bolder;
}

.desc-text {
  user-select: none;
  font-weight: lighter;
}

.home-icon-grad {
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.welcome-choose {
  background-color: var(--button-secondary);
}