<!DOCTYPE html>
<html>
  <head data-bs-theme="dark">
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Homecentraal</title>
  </head>
  <body>
    <div id="root" ></div>
  </body>
</html>
